[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
application-import-names = pyspark_vector_files,tests
import-order-style = google
per-file-ignores =
    tests/*:S101,ANN
    *__init__.py: F401
docstring-convention = google
